<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h2>
    Welcome to {{ title }}!
  </h2>
  <section id="contact">
      <main>  
        <form action='' class='form' autocomplete="off">
          
          <p class='field required'>
            <input class='text-input' id='name' name='name' required type='text' [(ngModel)]='city' (keyup.enter)='getWeather()' placeholder="City" style="text-align: center">
          </p>
          
        </form>
      </main>
        </section>

<br>
<div id='weather' *ngIf='currData'>

  
  <app-curr-day *ngIf='currData' [inputObject]='currData'></app-curr-day>
  <br>
  <br>
  <div  *ngFor = 'let data of allDetails'>
    <app-days [allDetails]="data" ></app-days>
  </div>
  
</div>
</div>
  
  
  
  <router-outlet></router-outlet>
